/* Variables in css */
$white: #ffffff;
$off-white: #f3f3f3;
$black: #000000;
$red: #d9534f;
$blue-one: #2f5afb;
$blue-two: #0a8ecc;
$green-one: #1be41b;
$grey-light: #c5c3c3;
$grey-two: #c7c7c7;
$grey-three: #9c9898;
$grey-four: #fbfafa;
$grey-five: #cac6c6;
